In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head(1)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [5]:
# read specific rwod from data fram
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv' , nrows=3)
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0,6.8714

In [6]:
df.iloc[0:3,:]

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0,6.8714

In [7]:
df = pd.read_csv(r'E:\BI\PowerBi\Power BI Tutorial\super store data anlysis\SampleSuperstore.csv')
df.head(11)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
5,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,0.00,14.1694
6,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,0.00,1.9656
7,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,0.20,90.7152
8,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,0.20,5.7825
9,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,114.9000,5,0.00,34.4700
10,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,0.20,85.3092

In [8]:
df.loc[10:20, ['Sales','Profit']].head(1)

       Sales   Profit
10  1706.184  85.3092

In [9]:
# To read a specific column from the dataframe
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv', usecols=[0])
df.head(1)

      Ship Mode
0  Second Class

In [10]:
# To read a specific column from the dataframe
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv', usecols=[0 , 1 , 2])
df.head(1)

      Ship Mode   Segment        Country
0  Second Class  Consumer  United States

In [11]:
# To read a specific column from the dataframe
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head(1)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136

In [12]:
# to proint very iportant and specific column from datafram
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv', usecols=[2,6,9,10,12])
df.head(1)

         Country Region   Sales  Quantity   Profit
0  United States  South  261.96         2  41.9136

In [13]:
# Use first row as header like powerbi 
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv', skiprows=[0])
df.head(1)

,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0,41.9136
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.582

In [14]:
# Use first row as header like powerbi 
# this is the normal data set we have skip first row of the same data set in the above cell
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [15]:
# To skip any two rows from the data fram
# Use first row as header like powerbi 
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv', skiprows=[2,3])
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
2,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
3,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,0.00,14.1694
4,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,0.00,1.9656

In [16]:
# To Use any column as index
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv' , index_col= 'Category')
df['new'] = range(1,9995)
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Sub-Category,Sales,Quantity,Discount,Profit,new
Category,,,,,,,,,,,,,
Furniture,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Bookcases,261.9600,2,0.00,41.9136,1
Furniture,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Chairs,731.9400,3,0.00,219.5820,2
Office Supplies,Second Class,Corporate,United States,Los Angeles,California,90036,West,Labels,14.6200,2,0.00,6.8714,3
Furniture,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Tables,957.5775,5,0.45,-383.0310,4
Office Supplies,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Storage,22.3680,2,0.20,2.5164,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Furniture,Second Class,Consumer,United States,Miami,Florida,33180,South,Furnishings,25.2480,3,0.20,4.1028,9990
Furniture,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furnishings,91.9600,2,0.00,15.6332,9991
Technology,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Phones,258.5760,2,0.20,19.3932,9992
Office Supplies,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Paper,29.6000,4,0.00,13.3200,9993
Office Supplies,Second Class,Consumer,United States,Westminster,California,92683,West,Appliances,243.1600,2,0.00,72.9480,9994

In [17]:
# To Use any column as index
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df['new'] = range(1,9995)
pd.DataFrame(df , index= df['new'])

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,new
new,,,,,,,,,,,,,,
1,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Chairs,731.9400,3.0,0.00,219.5820,2.0
2,Second Class,Corporate,United States,Los Angeles,California,90036.0,West,Office Supplies,Labels,14.6200,2.0,0.00,6.8714,3.0
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,Furniture,Tables,957.5775,5.0,0.45,-383.0310,4.0
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,Office Supplies,Storage,22.3680,2.0,0.20,2.5164,5.0
5,Standard Class,Consumer,United States,Los Angeles,California,90032.0,West,Furniture,Furnishings,48.8600,7.0,0.00,14.1694,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627.0,West,Furniture,Furnishings,91.9600,2.0,0.00,15.6332,9991.0
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627.0,West,Technology,Phones,258.5760,2.0,0.20,19.3932,9992.0
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627.0,West,Office Supplies,Paper,29.6000,4.0,0.00,13.3200,9993.0
9993,Second Class,Consumer,United States,Westminster,California,92683.0,West,Office Supplies,Appliances,243.1600,2.0,0.00,72.9480,9994.0
9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# How to write csv file

In [18]:
# the below actula dat is this 
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head(1)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136

In [19]:
# To Use any column as index
# 
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv', header=None ,)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0,41.9136
2,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0,219.582
3,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0,6.8714
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.031

In [20]:
# to add  prefix to the columns
import pandas as pd 
df = pd.read_csv(r'E:\BI\PowerBi\Power BI Tutorial\super store data anlysis\SampleSuperstore.csv', header=None , prefix='Col')
df.head()

C:\Users\Attaur Rahman\AppData\Local\Temp\ipykernel_7636\928091951.py:3: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  df = pd.read_csv(r'E:\BI\PowerBi\Power BI Tutorial\super store data anlysis\SampleSuperstore.csv', header=None , prefix='Col')

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12
0,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0,41.9136
2,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0,219.582
3,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0,6.8714
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.031

In [21]:
# to add  prefix to the columns
df = pd.read_csv(r'E:\BI\PowerBi\Power BI Tutorial\super store data anlysis\SampleSuperstore.csv', names=['a' ,'b' ,'c','ff' ,'g' ,'h','i' ,'j' ,'k','l' ,'m' ,'n'])
df.head()

,a,b,c,ff,g,h,i,j,k,l,m,n
Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0,41.9136
Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0,219.582
Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0,6.8714
Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.031

In [22]:
# write a csv
df = pd.read_csv(r'E:\BI\PowerBi\Power BI Tutorial\super store data anlysis\SampleSuperstore.csv' , true_values=['South'] , false_values=['West'])
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [23]:
# add new column with the help of existing column
df['new'] = df.loc[df['Region'] == 'South' , 'Region'] = 'True'
#df.loc[df['Region'] == 'West' , 'Region'] = 'True'
df['new'] = df['Quantity']*df['Sales']
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,new
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,True,Furniture,Bookcases,261.9600,2,0.00,41.9136,523.9200
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,True,Furniture,Chairs,731.9400,3,0.00,219.5820,2195.8200
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,29.2400
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,True,Furniture,Tables,957.5775,5,0.45,-383.0310,4787.8875
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,True,Office Supplies,Storage,22.3680,2,0.20,2.5164,44.7360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,True,Furniture,Furnishings,25.2480,3,0.20,4.1028,75.7440
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332,183.9200
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932,517.1520
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200,118.4000
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480,486.3200

In [24]:
df['Sales'].dtype

dtype('float64')

In [25]:
# write a csv
# Change dtype of any columns
df = pd.read_csv(r'E:\BI\PowerBi\Power BI Tutorial\super store data anlysis\SampleSuperstore.csv', dtype={'Quantity' : 'float64'})
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2.0,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3.0,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2.0,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5.0,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2.0,0.20,2.5164

In [26]:
df['new'] = df['Sales']*df['Quantity']
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,new
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2.0,0.00,41.9136,523.9200
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3.0,0.00,219.5820,2195.8200
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2.0,0.00,6.8714,29.2400
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5.0,0.45,-383.0310,4787.8875
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2.0,0.20,2.5164,44.7360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3.0,0.20,4.1028,75.7440
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2.0,0.00,15.6332,183.9200
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2.0,0.20,19.3932,517.1520
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4.0,0.00,13.3200,118.4000
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2.0,0.00,72.9480,486.3200